body {
  font-family: "Helvetica", Arial, sans-serif;
  line-height: 1.55;
  font-size: 16px;
}

a, a:visited {
  color: #f9b052;
}

header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.text-center {
  text-align: center;
}

.loading {
  margin: 30px auto;
  font-size: 20x;
}

.category-container {
  display: flex;
  margin-top: 10px;
}

.home-link {
  color: #f9b052;
  text-decoration: none;
}

.category-container .category {
  display: block;
}

.category-container .category a {
  background-color: #fff;
  padding: 10px 16px;
  color: #000;
  text-decoration: none;
}

.category-container .category a:hover {
  background-color: #f9b052;
}

.posts, .post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  margin: 50px auto;
}

.no-post {
  margin: 30px auto;
  text-align: center;
}

.post {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-score {
  width: 40px;
  text-align: center;
}

.add-score, .minus-score {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.post-details {
  flex: 1;
  padding-left: 10px;
}

.post-title {
  font-weight: bold;
}

.post-author, .post-date {
  margin: 0;
}

.single-post, .single-comment {
  width: 100%;
}

.comments-container {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.comment-score {
  width: 40px;
  text-align: center;
}

.add-score, .minus-score {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.comment-details {
  flex: 1;
  padding-left: 10px;
}

.comment-author, .comment-date {
  margin: 0;
}

.add-comment {
  width: 600px;
  padding: 20px;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-comment input, .edit-comment input {
  padding: 5px 10px;
  height: 36px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  flex: 1;
  margin: 5px;
}

.comment-btn, .update-btn {
  background-color: #43863c;
  padding: 5px 10px;
  height: 36px;
  border: none;
  color: #fff;
  flex: 1;
  margin: 5px;
  box-sizing: content-box;
  cursor: pointer;
}

.comment-btn:hover {
  opacity: 0.7;
}

.edit-comment {
  width: 600px;
  padding: 20px;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

a.add-post {
  margin: 5px;
  margin-right: 30px;
  background: #43863c;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.sort-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  margin: 20px auto;
}

.sort-control {
  padding: 5px 10px;
  height: 36px;
  border: 1px solid #ccc;
  margin: 5px;
  box-sizing: content-box;
  border-radius: 0;
}

.button, .button-clear {
  background-color: #000;
  padding: 2px 10px;
  height: 36px;
  border: none;
  color: #fff !important;
  flex: 1;
  margin: 5px;
  box-sizing: content-box;
  cursor: pointer;
  min-width: 60px;
  font-size: 16px;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
}

.button-clear {
  background-color: #fff;
  color: #000 !important;
  border: 1px solid #000;
}

.button:hover, .button-clear:hover {
  opacity: 0.7;
}

.edit-btn {
  background-color: #000;
  padding: 2px 10px;
  height: 36px;
  border: none;
  color: #fff !important;
  flex: 1;
  margin: 5px;
  box-sizing: content-box;
  cursor: pointer;
  min-width: 60px;
  font-size: 16px;
  display: block;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
}

.delete-btn {
  background-color: #9a375f;
  padding: 2px 10px;
  height: 36px;
  border: none;
  color: #fff;
  flex: 1;
  margin: 5px;
  box-sizing: content-box;
  cursor: pointer;
  min-width: 60px;
  font-size: 16px;
}

.create-edit-container {
  width: 800px;
  margin: 50px auto;
}

.create-edit-container label {
  display: block;
  font-size: 20px;
}

.form-control {
  padding: 5px 10px;
  height: 36px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  margin: 5px 0 20px 0;
  min-width: 300px;
}

.no-posts {
  display: block;
  text-align: center;
}
